<%= form_with(model: task) do |form| %>
  <div>
    <%= form.label :name, Task.human_attribute_name(:name), style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :detail, Task.human_attribute_name(:detail), style: "display: block" %>
    <%= form.text_field :detail %>
  </div>

  <div>
    <%= form.submit '送信' %>
  </div>
<% end %>
