<%= form_with(model: task) do |form| %>
  <div>
    <%= form.label :name, 'TODO', style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :detail, '詳細', style: "display: block" %>
    <%= form.text_field :detail %>
  </div>

  <div>
    <%= form.submit '更新' %>
  </div>
<% end %>