<%= form_with(model: task) do |form| %>

  <%= render 'layouts/error_form', model: task %>

  <div>
    <%= form.label :name, Task.human_attribute_name(:name), style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :detail, Task.human_attribute_name(:detail), style: "display: block" %>
    <%= form.text_field :detail %>
  </div>

  <div>
    <%= form.label :deadline, Task.human_attribute_name(:deadline), style: "display: block" %>
    <%= form.datetime_field :deadline %>
  </div>

  <div>
    <%= form.label :task_status_id, TaskStatus.model_name.human, style: "display: block" %>
    <%= form.collection_select(:task_status_id, TaskStatus.all.order(:id), :id, :name ) %>
  </div>

  <div>
    <%= form.label :priority_id, Priority.model_name.human, style: "display: block" %>
    <%= form.collection_select(:priority_id, Priority.all.order(:id), :id, :name ) %>
  </div>

  <div>
    <%= form.submit '送信' %>
  </div>
<% end %>
