<p style="color: green"><%= notice %></p>

<h1><%= t ".title" %></h1>

<%= link_to t('tasks.new.title'), new_task_path %>

<div id="tasks">
	<%= form_with url:tasks_path, method: :get do |f| %>
		<%= f.label :order_column, 'ソート' %>
		<%= f.select :order_column, [[Task.human_attribute_name(:deadline), "deadline"]], { selected: params[:order_column], include_blank: 'なし' } %>
		<%= f.select :order, [["昇順", "asc"], ["降順", "desc"]], { selected: params[:order], include_blank: 'なし' } %>
		<%= f.submit '検索' %>
	<% end %>

	<table border="1">
		<thead>
			<tr>
				<th><%= Task.human_attribute_name(:id) %></th>
				<th><%= Task.human_attribute_name(:name) %></th>
				<th><%= Task.human_attribute_name(:detail) %></th>
				<th><%= Task.human_attribute_name(:deadline) %></th>
				<th><%= Task.human_attribute_name(:task_status) %></th>
				<th>リンク</th>
			</tr>
		</thead>
		<tbody>
		<% @tasks.each do |task| %>
			<tr>
				<td><%= task.id %></td>
				<td><%= task.name %></td>
				<td><%= task.detail %></td>
				<td><%= task.deadline %></td>
				<td>
					<% if task.task_status.present? %>
						<%= task.task_status.name %>
					<% end %>
				</td>
				<td>
					<%= link_to t('tasks.show.title'), task %>
					<%= link_to t('tasks.edit.title'), edit_task_path(task) %>
				</td>
			</tr>
		<% end %>
		</tbody>
	</table>
</div>
