<p style="color: green"><%= notice %></p>

<h1><%= t ".title" %></h1>

<%= link_to I18n.t('tasks.new.title'), new_task_path %>

<div id="tasks">
	<div>
	<%= form_with url:tasks_path, method: :get do |f| %>
		<div>
			<%= f.label :name, Task.human_attribute_name(:name) %>
      <%= f.text_field :name, { value: params[:name] } %>
		</div>
		<div>
        <%= f.label :task_status_id, TaskStatus.model_name.human %>
        <%= f.collection_select(:task_status_id, TaskStatus.all, :id, :name, { selected: params[:task_status_id], include_blank: 'なし' }) %>
    </div>
		<div>
			<%= f.label :order_column, 'ソート' %>
			<%= f.select :order_column, [[Task.human_attribute_name(:deadline), "deadline"], [Priority.model_name.human, "priority_id"]],
				{ selected: params[:order_column], include_blank: 'なし' } %>
			<%= f.select :order, [["昇順", "asc"], ["降順", "desc"]], { selected: params[:order] } %>
		</div>
		<%= f.submit '検索' %>
	<% end %>
	</div>

	<table border="1">
		<thead>
			<tr>
				<th><%= Task.human_attribute_name(:id) %></th>
				<th><%= Task.human_attribute_name(:name) %></th>
				<th><%= Task.human_attribute_name(:detail) %></th>
				<th><%= Task.human_attribute_name(:deadline) %></th>
				<th><%= TaskStatus.model_name.human %></th>
				<th><%= Priority.model_name.human %></th>
				<th>リンク</th>
			</tr>
		</thead>
		<tbody>
		<% @tasks.each do |task| %>
			<tr>
				<td><%= task.id %></td>
				<td><%= task.name %></td>
				<td><%= task.detail %></td>

				<td><%= I18n.l task.deadline if task.deadline.present? %></td>
				<td><%= task.status_name %></td>
				<td><%= task.priority_name %></td>
				<td>
					<%= link_to I18n.t('tasks.show.title'), task %>
					<%= link_to I18n.t('tasks.edit.title'), edit_task_path(task) %>
				</td>
			</tr>
		<% end %>
		</tbody>
	</table>
	<%= paginate @tasks %>
	<%= page_entries_info @tasks %>
</div>
