<p style="color: green"><%= notice %></p>

<h1><%= t ".title" %></h1>

<%= link_to I18n.t('tasks.new.title'), new_task_path %>
<br>

<div id="tasks">
	<table border="1">
		<thead>
			<tr>
				<th><%= Task.human_attribute_name(:id) %></th>
				<th><%= Task.human_attribute_name(:name) %></th>
				<th><%= Task.human_attribute_name(:detail) %></th>
				<th>リンク</th>
			</tr>
		</thead>
		<tbody>
		<% @tasks.each do |task| %>
			<tr>
				<td><%= task.id %></td>
				<td><%= task.name %></td>
				<td><%= task.detail %></td>
				<td>
					<%= link_to I18n.t('tasks.show.title'), task %>
					<%= link_to I18n.t('tasks.edit.title'), edit_task_path(task) %>
				</td>
			</tr>
		<% end %>
		</tbody>
	</table>
</div>
