<%= render 'layouts/notice' %>

<h1><%= t ".title" %></h1>

<table class="d-flex table table-bordered">
  <tbody>
    <tr>
			<td><strong><%= Task.human_attribute_name(:name) %></strong></td>
      <td><%= @task.name %></td>
    </tr>
    <tr>
			<td><strong><%= Task.human_attribute_name(:detail) %></strong></td>
      <td><%= simple_format @task.detail %></td>
    </tr>
    <tr>
			<td><strong><%= Task.human_attribute_name(:deadline) %></strong></td>
      <td><%= I18n.l @task.deadline if @task.deadline.present? %></td>
    </tr>
    <tr>
			<td><strong><%= TaskStatus.model_name.human %></strong></td>
      <td>
        <% if @task.task_status.present? %>
          <%= @task.task_status.name %>
        <% end %>
      </td>
    </tr>
    <tr>
			<td><strong><%= Priority.model_name.human %></strong></td>
      <td>
        <% if @task.priority.present? %>
          <%= @task.priority.name %>
        <% end %>
      </td>
    </tr>
	</tbody>
</table>



<div class="d-flex flex-row">
  <%= link_to I18n.t('tasks.edit.title'), edit_task_path, class: 'btn btn-outline-success m-2' %>
  <%= button_to "このタスクを削除", @task, method: :delete, class: 'btn btn-danger m-2' %>
</div>

  <%= link_to I18n.t('tasks.index.title'), tasks_path, class: 'btn btn-outline-secondary m-2' %>
