<p style="color: green"><%= notice %></p>

<h1><%= t ".title" %></h1>
<div>
  <p>
    <strong><%= Task.human_attribute_name(:name) %> : </strong>
    <%= @task.name %>
  </p>

  <p>
    <strong><%= Task.human_attribute_name(:detail) %> : </strong>
    <%= simple_format @task.detail %>
  </p>

  <p>
    <strong><%= Task.human_attribute_name(:deadline) %> : </strong>
    <%= I18n.l @task.deadline if @task.deadline.present? %>
  </p>

  <p>
    <strong><%= TaskStatus.model_name.human %> : </strong>
    <% if @task.task_status.present? %>
			<%= @task.task_status.name %>
		<% end %>
  </p>

  <p>
    <strong><%= Priority.model_name.human %> : </strong>
    <% if @task.priority.present? %>
			<%= @task.priority.name %>
		<% end %>
  </p>

</div>

<div class="d-flex flex-row">
  <%= link_to I18n.t('tasks.edit.title'), edit_task_path, class: 'btn btn-outline-success m-2' %>
  <%= button_to "このタスクを削除", @task, method: :delete, class: 'btn btn-danger m-2' %>
</div>

  <%= link_to I18n.t('tasks.index.title'), tasks_path, class: 'btn btn-outline-secondary m-2' %>
