<p style="color: green"><%= notice %></p>

<h1><%= t ".title" %></h1>
<div>
  <p>
    <strong><%= Task.human_attribute_name(:name) %> : </strong>
    <%= @task.name %>
  </p>

  <p>
    <strong><%= Task.human_attribute_name(:detail) %> : </strong>
    <%= @task.detail %>
  </p>

</div>

<div>
  <%= link_to I18n.t('tasks.edit.title'), edit_task_path %> |
  <%= link_to I18n.t('tasks.index.title'), tasks_path %>

  <%= button_to "このタスクを削除", @task, method: :delete, style: "color:red;" %>
</div>
